@model IEnumerable<EventManagement.Models.locationtable>

@{
    ViewBag.Title = "Index1";
}



<div class="container-fluid text-center mb-n5">
    <div class="row">
        <div class="col-12">
            <img src="~/Assets/P.gif" width="20%" />
            <p style="font-style:italic;font-size:20px;">Welcome to the beating heart of our event, Pulse! Let the rhythm of excitement guide you through this incredible journey</p>
        </div>
    </div>
</div>

<div class="container mt-5 main">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card mt-5 mb-3">
                    <div class="card-img-top">
                        <div class="hover10 column">

                            @if (item.locationimage != null)
                            {
                                <img src="data:image;base64,@Convert.ToBase64String(item.locationimage)" alt="Employee Image" id="main-img" />

                            }
                        </div>
                        <div class="card-img-overlay">
                            <div class="card-title mt-4">
                                @Html.DisplayFor(modelItem => item.locationname)
                            </div>
                            <div class="card-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<style>
    .card-img-overlay {
        margin-top: 7.5em;
    }

    .card-title {
        font-style: italic;
        padding: 5em 2em 0 .5em;
        margin-left: .4em;
    }

    #home-bg-video {
        object-fit: cover;
    }

    #main-img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
