﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="success-container">
        <h1 class="mt-5 pt-5">Oops :(</h1>
        <p>Parameter has to be passed to get your Details</p>
        <a href="/" style="color: violet; font-style: italic; font-size: 12px; margin-left: 70px;">Back to Home</a>
        <div class="section-2 navbar-brand">
            <img src="~/Assets/1cM.gif" width="20%" class="mt-4">
        </div>
    </div>
</body>
</html>


<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        background-color: black;
    }

    h1 {
        color: white;
        font-style: italic;
        font-size: 19px;
    }

  

    p {
        color: white;
        font-style: italic;
        font-size: 19px;
    }
</style>